{% extends 'base_main.html' %}

{% block titble %}Restó - CodoACodo 2021{% endblock titble %}

{% block ingresar %}    
    <li class="menu__item menu__item--fav"><a href="{{url_for('ingresar')}}" class="menu__link menu_link--fav">Ingresar</a></li>
{% endblock ingresar %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('css', filename='normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('css', filename='style.css') }}" />
{% endblock css %}

{% block content %}
    <main>
        <section class="banner" id="banner"> <!-- Flex -->
            <div class="banner__container">
                <h2 class="banner__title">El lugar de tus salidas favoritas</h2>
                <p class="banner__subtitle">Encontra ese bar, pub o restaurante que estabas esperando</p>
            </div>
        </section>

        <section class="cards" id="destacados">
            <div class="cards__container"> <!-- Flex -->
                <div class="cards__header"> <!-- Grid -->
                    <hr class="cards__line" />
                    <h1 class="cards__title">Destacados</h1>
                    <hr class="cards__line" />
                </div>
                
                <div class="card__container"> <!-- Flex -->
                    {% for cliente in clientes %}
                        {% if cliente[4] == 1 %}
                        <article class="card"> <!-- Flex -->
                            <a class="card__image-link" data-href="#popup-{{cliente[0]}}" data-tipo="info">
                                <div class="card__image card__image--size"><i class="card__image--icon"></i><img class="card__image--fit" src="{{ url_for('uploads', filename=cliente[3]) }}" alt=""></div>
                            </a>
                            <h2 class="card__title">{{cliente[1]}}</h2>
                            <p class="card__paragraph">
                                {{cliente[2]}}
                            </p>
                        </article>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="gallery" id="clientes">
            <div class="gallery__container"> <!-- Flex -->
                <div class="gallery__header"> <!-- Grid -->
                    <hr class="gallery__line" />
                    <h1 class="gallery__title">Nuestros Clientes</h1>
                    <hr class="gallery__line" />
                </div>
                <div class="gallery__container-items"> <!-- Grid -->
                    {% for cliente in clientes %}
                    <div class="gallery__item"> <!-- Grid -->
                        <a class="gallery__image-link" data-href="#popup-{{cliente[0]}}" data-tipo="info">
                            <div class="gallery__item-img"><i class="gallery__image--icon"></i><img class="gallery__image--fit" src="{{ url_for('uploads', filename=cliente[3]) }}"></div>
                        </a>
                        <h2 class="gallery__item-title">{{cliente[1]}}</h2>
                        <p class="gallery__item-paragraph">{{cliente[2]}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="aboutus" id="nosotros">
            <div class="aboutus__container"> <!-- Flex -->
                <div class="aboutus__header"> <!-- Grid -->
                    <hr class="aboutus__line" />
                    <h1 class="aboutus__title">Sobre Nosotros</h1>
                    <hr class="aboutus__line" />
                </div>
                <div class="aboutus__image"></div>
                <div class="aboutus__story"> <!-- Flex -->
                    <div class="aboutus__section"> <!-- Flex -->
                        <h2 class="aboutus__subtitle">Un poco de historia</h2>
                        <p class="aboutus__text">
                            Skate ipsum dolor sit amet, freestyle Greg Evans rails quarter pipe
                            mute-air judo air slide. Melancholy sick skater lipslide varial
                            quarter pipe. Tic-tac pogo nollie kickflip blunt Natas Kaupas
                            layback. Pool nose-bump bail hang up fakie out coper Steve Steadham.
                            Finger flip Tracker wall ride kickturn coping slam. Bean plant
                            melancholy no comply pressure flip 540 nosegrind nose blunt. Indy
                            grab nosepicker hand rail freestyle pump acid drop. Christ air Primo
                            slide feeble Bones Brigade opposite footed hang up 180. Dude Dogtown
                            nosepicker smith grind cab flip lien air carve. Coffin deck quarter
                            pipe Jason Lee frontside air disaster 1080. 1080 steps face plant
                            540 bluntslide hand rail Jeff Phillips.
                        </p>
                    </div>
                    <div class="aboutus__section">
                        <h2 class="aboutus__subtitle">Objetivos</h2>
                        <p class="aboutus__text">
                            Betty coper skate or die 1080. Hospital flip Jimmy'Z lip shinner
                            crooked grind. Speed wobbles method air darkslide Lester Kasai berm.
                            Slam hang-up hanger lien air. Heel flip face plant fastplant slob
                            air. Shinner kingpin rocket air Kevin Jarvis hospital flip. Full
                            pipe yeah nosepicker rails. Bluntslide skate key shoveit nose slide.
                            Spanky frigid air transition boneless shoveit. Dude aerial hip
                            roll-in.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="contacto" id="contacto">
            <div class="contacto__container">
                <div class="contacto__header"> <!-- Grid -->
                    <hr class="contacto__line" />
                    <h1 class="contacto__title">Contacto</h1>
                    <hr class="contacto__line" />
                </div>
                
                <div class="contacto__row-container"> <!-- Flex -->
                    <div class="contacto__col contacto__col--mb3"> <!-- Flex -->
                        <p class="contacto__title contacto--fontsize-md">¿Dónde Estamos?</p>
                        <iframe class="contacto__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13135.386947566083!2d-58.43166988027343!3d-34.6080368622259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd055df0a7dafa86e!2sParque%20Centenario!5e0!3m2!1ses!2sar!4v1619723711679!5m2!1ses!2sar" allowfullscreen="" loading="lazy"></iframe>
                        <p class="contacto__title contacto--fontsize-md">Datos útiles</p>
                        <span class="contacto__paragraph"><a class="contacto__link" href="tel:+545555-5555"><i class="fa fa-phone-alt"></i> 5555-5555</a></span>
                        <span class="contacto__paragraph"><i class="fa fa-map-marker-alt"></i> Av. Diaz Velez</span>
                        <span class="contacto__paragraph"><a class="contacto__link" href="mailto:info@resto.com"><i class="fa fa-at"></i> info@resto.com</a></span>
                    </div>
                    <div class="contacto__col"> <!-- Flex -->
                        <p class="contacto__title contacto--fontsize-md">Escribinos</p>
                        <form class="contacto__form" action="mensaje.php" method="post">                            
                            <div class="contacto__row"> <!-- Flex -->
                                <div class="contacto__col col__w100p"> <!-- Flex -->
                                    <label class="contacto__label contacto__label--req" for="nombre">Nombre</label>
                                    <input
                                        class="contacto__text"
                                        type="text"
                                        name="nombre"
                                        id="nombre"
                                        required/>
                                </div>
                                <div class="contacto__col col__w100p"> <!-- Flex -->
                                    <label class="contacto__label contacto__label--req" for="apellido">Apellido</label>
                                    <input
                                        class="contacto__text"
                                        type="text"
                                        name="apellido"
                                        id="apellido"
                                        required/>
                                </div>
                            </div>
                            <div class="contacto__row"> <!-- Flex -->
                                <div class="contacto__col col__w100p"> <!-- Flex -->
                                    <label class="contacto__label contacto__label--req" for="email">email</label>
                                    <input
                                        class="contacto__text"
                                        type="email"
                                        name="email"
                                        id="email"
                                        required/>
                                </div>
                                <div class="contacto__col col__w100p"> <!-- Flex -->
                                    <label class="contacto__label" for="telefono">Teléfono</label>
                                    <input
                                        class="contacto__text"
                                        type="tel"
                                        name="telefono"
                                        id="telefono"/>
                                </div>
                            </div>
                            <div class="contacto__row"> <!-- Flex -->
                                <div class="contacto__col col__w100p"> <!-- Flex -->
                                    <label class="contacto__label contacto__label--req" for="asunto">Asunto</label>
                                    <select
                                        class="contacto__select"
                                        name="asunto"
                                        id="asunto">
                                        <option class="contacto__text" value="1">Consulta</option>
                                        <option class="contacto__text" value="2">Resgitro</option>
                                        <option class="contacto__text" value="3">Otro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="contacto__row"> <!-- Flex -->
                                <div class="contacto__col col__w100p"> <!-- Flex -->
                                    <label class="contacto__label contacto__label--req" for="mensaje">Mensaje</label>
                                    <textarea
                                        class="contacto__area"
                                        name="mensaje"
                                        id="mensaje"
                                        cols="30"
                                        rows="5"
                                        required
                                    ></textarea>
                                </div>
                            </div>
                            <div class="contacto__row"> <!-- Flex -->
                                <div class="contacto__col contacto--center"> <!-- Flex -->
                                    <button class="contacto__button" type="submit">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>                
                </div>
            </div>
        </section>
    </main>

    {% for cliente in clientes %}            
    <div id="popup-{{cliente[0]}}" class="popup"> <!-- Flex -->
        <div class="popup__container"> <!-- Grid -->       
            <iframe class="popup__iframe" src="{{cliente[9]}}" allowfullscreen="" loading="lazy"></iframe>
            <p class="popup__text"><i class="popup__icon fas fa-map-marker-alt"></i> {{cliente[5]}}</p>
            <p class="popup__text"><i class="popup__icon fas fa-phone-alt"></i><a class="popup__link" href="tel:+54{{cliente[6]}}"> {{cliente[6]}}</a></p>
            <p class="popup__text"><i class="popup__icon fas fa-globe-americas"></i><a class="popup__link" href="{{cliente[8]}}" target="_blank"> {{cliente[8]}}</a></p>
        </div>        
        <a data-tipo="ocultar-info" class="popup--cerrar"></a>
    </div>
    {% endfor %}

    <div class="button-up" id="button-up">
        <a href="/" class="scroll"><i class="fas fa-chevron-up"></i></a>
    </div>

{% endblock content %}

{% block scripts %}    
    <script src="{{ url_for('js', filename='main.js') }}"></script>
{% endblock scripts %}