{% extends 'base_main.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('css', filename='normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('css', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('css', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('css', filename='login.css') }}" />
{% endblock css %}

{% block titble %}Acceso - Restó{% endblock titble %}

{% block body %}class="body__container"{% endblock body %}


{% block content %}
    <main>
        <section class="login"> <!-- Flex -->
            <div class="login__container"> <!-- Flex -->
                <div class="login__header"> <!-- Grid -->
                    <hr class="login__line" />
                    <h1 class="login__title">Acceso</h1>
                    <hr class="login__line" />
                </div>
                <form class="login__form" method="POST" action="/login" >
                    <div class="login__row"> <!-- Flex -->
                        USUARIO: admin  PASSWORD: admin <br> USUARIO: consulta  PASSWORD: consulta
                        <div class="login__col login--inline"> <!-- Flex -->                            
                            <input
                                class="login__text"
                                type="text"
                                name="user"
                                id="user"
                                placeholder="Usuario"
                            />
                            <i class="fa fa-user login__icon login__icon--Bg"></i>
                        </div>
                    </div>
                    <div class="login__row"> <!-- Flex -->
                        <div class="login__col login--inline login--icon-Bg"> <!-- Flex -->
                            <input
                                class="login__text"
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Contraseña"
                            />
                            <i class="fa fa-key login__icon login__icon--Bg"></i>
                        </div>
                    </div>
                    <div class="login__row"> <!-- Flex -->
                        <div class="login__col login--center"> <!-- Flex -->
                            <button type="submit" class="login__button" onclick="return validarIngreso()">
                                Ingresar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <div class="modal fade" id="modalIngreso" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Acceso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalIngresoMensaje"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="login__button login__button--md" data-bs-dismiss="modal">Cerrar</button>                
                </div>
            </div>
        </div>
    </div>

    {% with messages= get_flashed_messages() %}

        {% if messages %}        
            <div class="modal fade" id="modalMessage" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Acceso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}                    
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="login__button login__button--md" data-bs-dismiss="modal">Cerrar</button>                
                        </div>
                    </div>
                </div>
            </div>        
        {% endif %}

    {% endwith %}

    
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('js', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('js', filename='main.js') }}"></script>
    <script src="{{ url_for('js', filename='modal.js') }}"></script>
{% endblock scripts %}