{% macro mensaje(title, message, icon, confirm, nro) -%}
    <div class="modal fade" id="modalMessage{{nro}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">{{ title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">                    
                    <p><span class="modal-icon {{ icon }}"></span> {{ message }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn modal-btn--md btn-ok" id="btn_ok" data-bs-dismiss="modal">Aceptar</button>
                    {% if confirm == 'S' %}
                        <button type="button" class="modal-btn modal-btn--md btn-cancel" id="btn_cancel" data-bs-dismiss="modal">Cancelar</button>                
                    {% endif %}
                </div>
            </div>
        </div>
    </div>    
{%- endmacro %}


{% macro form(editar, cliente) %}
    {% set id = namespace(value='0') %}
    {% set img = namespace(value=url_for('img', filename='Resto.png')) %}
    {% set fav = namespace(value='') %}
    {% set nombre = namespace(value='') %}
    {% set descr = namespace(value='') %}
    {% set dir = namespace(value='') %}
    {% set tel = namespace(value='') %}
    {% set email = namespace(value='') %}
    {% set url = namespace(value='') %}
    {% set geo = namespace(value='') %}
    {% set cover = namespace(value='') %}
    {% set valida_img = namespace(value='required') %}

    {% if editar %}
        {% set id.value = cliente[0] %}
        {% set img.value = url_for('uploads', filename=cliente[3]) %}
            {% if cliente[4] == 1 %}
                {% set fav.value = 'checked' %}
            {% endif %}
        {% set nombre.value = cliente[1] %}
        {% set descr.value = cliente[2] %}
        {% set dir.value = cliente[5] %}
        {% set tel.value = cliente[6] %}
        {% set email.value = cliente[7] %}
        {% set url.value = cliente[8] %}
        {% set geo.value = cliente[9] %}
        {% set cover.value = 'card-img-cover' %}
        {% set valida_img.value = '' %}
    {% endif %}
    
    <div class="card-img-container">
        <input type="file" name="img" id="img" hidden {{valida_img.value}}>
        <img id="foto" name="foto" type="image" src="{{img.value}}" class="card-img-top img-thumbnail {{cover.value}}" onclick="openFile();"/>
        <label class="card-label-container">
            <input type="checkbox" name="destacado" id="destacado" class="card-destacado" {{fav.value}}>
            <span class="card-destacado-icon fas fa-star"></span>
        </label>
    </div>

    <ul class="list-group list-group-flush">
        <input id="idCliente" name="idCliente" type="text" value="{{id.value}}" hidden>            
        
        <input id="nombre" name="nombre" type="text" class="list-group-item card-item-title" placeholder="Nombre del Restó" value="{{nombre.value}}" required>
        
        <textarea cols="30" rows="3" type="text" name="descripcion" id="descripcion" placeholder="Descripción" class="list-group-item  card-item-style" required>{{descr.value}}</textarea>
        <span class="list-group-item-icon fas fa-map-marker-alt"></span>
        <input id="direccion" name="direccion" type="text" class="list-group-item" placeholder="Dirección" value="{{dir.value}}" required>
        
        <span class="list-group-item-icon fas fa-phone"></span>
        <input id="telefono" name="telefono" type="tel" class="list-group-item" placeholder="Teléfono" value="{{tel.value}}" required>
        
        <span class="list-group-item-icon fas fa-at"></span>
        <input id="email" name="email" type="email" class="list-group-item" placeholder="Email" value="{{email.value}}" required>
        
        <span class="list-group-item-icon fas fa-globe-americas"></span>
        <input id="url" name="url" type="text" class="list-group-item" placeholder="Página" value="{{url.value}}">
        
        <span class="list-group-item-icon fas fa-map-marked-alt"></span>
        <input id="mapa" name="mapa" type="text" class="list-group-item" placeholder="Ubicación" value="{{geo.value}}">
    </ul>

    <div class="card-body">
        <button type="submit" class="btn btn-success" value="Guardar" onclick="return validaCampos('{{valida_img.value}}');">Guardar</button>
        <a class="btn btn-danger btn-accion" data-href="{{ url_for('clientes') }}">Cancelar</a>
    </div>
{% endmacro %}