{% extends 'base_clientes.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('css', filename='normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('css', filename='bootstrap.min.css') }}" />    
    <link rel="stylesheet" href="{{ url_for('css', filename='clientes.css') }}" />
{% endblock css %}

{% block titble %}Restó - Mis clientes{% endblock titble %}


{% block content %}
    {% set d_eliminar = namespace(value='') %}
    {% set d_editar = namespace(value='') %}    
    
    {% for menu in menues %}
        {% if menu[1] == 'Cartera' %}
            {% if 'U' not in menu[5] %}
                {% set d_editar.value = 'd-none' %}
            {% endif %}

            {% if 'D' not in menu[5] %}
                {% set d_eliminar.value = 'd-none' %}
            {% endif %}
            
        {% endif %}
    {% endfor %}

    {% if clientes|length > 0 %}
        <section class="gallery" id="clientes">
            <div class="gallery__container"> <!-- Flex -->
                <div class="gallery__header"> <!-- Grid -->
                    <hr class="gallery__line" />
                    <h1 class="gallery__title">Mis Clientes</h1>
                    <hr class="gallery__line" />
                </div>
                <div class="gallery__container-items"> <!-- Grid -->
                {% for cliente in clientes %}                    
                    <div class="gallery__item"> <!-- Grid -->                            
                        <div class="gallery__item-img">
                            <img class="gallery__image--fit" src="{{ url_for('uploads', filename=cliente[3]) }}">                            
                            <div class="gallery__item-buttons">
                                <a class="btn btn-danger btn-accion {{d_eliminar.value}}" title="Eliminar" data-href="/eliminar/{{cliente[0]}}"><span class="fas fa-user-times"></span></a>
                                <a href="/editar/{{cliente[0]}}" class="btn btn-warning text-light {{d_editar.value}}" title="Editar"><span class="fas fa-user-edit"></span></a>
                            </div>
                            {% if cliente[4] == 1 %}
                            <span class="gallery__item--icon"></span>
                            {% endif %}
                        </div>
                        <h2 class="gallery__item-title"><strong>{{cliente[1]}}</strong></h2>
                        <p class="gallery__item-paragraph">{{cliente[2]}}</p>                        
                        <a href="tel:{{cliente[6]}}" class="gallery__item-paragraph"><span class="fas fa-phone"></span> {{cliente[6]}}</a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
    {% else %}
        <div class="d-flex flex-column justify-content-center align-items-center no__clients">        
            <h4>No hay clientes en la cartera</h4>
            <a href="{{ url_for('nuevo') }}" class="m-5 btn btn-info no__clients--btn"><span class="fas fa-user-plus"></span> Nuevo</a>
        </div>
    {% endif %}    

    {% from 'macros.j2' import mensaje as msg %}
    {{msg('Cartera de Clientes', '¿Estás seguro de eliminar al cliente?', 'modal-icon-danger fas fa-user-times', 'S', '1')}}
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('js', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('js', filename='clientes.js') }}"></script>
{% endblock scripts %}