{% extends 'base_clientes.html' %}

{% block title %}Restó - Editar Cliente{% endblock title %}

{% block content %}

    <div class="card__container mt-4">
        <form class="card justify-content-center align-items-center" action="/store" method="POST" enctype="multipart/form-data">
            {% for cliente in clientes %} 
                {% from 'macros.j2' import form as formulario %}
                {{formulario('S', cliente)}}
            {% endfor %}
        </form>
    </div>

    {% from 'macros.j2' import mensaje as msg %}

    {{msg('Atención!', '¿Estás seguro que querés cancelar?', '', 'S', '1')}}
    {{msg('Atención!', 'Cargá la imagen del Restó', '', 'N', '2')}}
    
{% endblock content %}